@CHARSET "UTF-8";

html,body {
	font-family: microsoft yahei, Tahoma, Helvetica, arial, sans-serif;
	background:#ddd;
}
hr {
	border-top:1px solid #D5D5D5;
	margin-bottom:10px;
}
.main {
	padding-top:20px;
}
.navbar {
	border-radius: 0px;
	margin-bottom:0px;
}
.navbar-inverse {
  background-color: #1787CB;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #19D2D2;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding:0px 10px;
}
.indent {
	text-indent:2em;
}
.box {
	background:#fff;
	padding:10px 20px;
	border-radius:5px;
	margin-bottom:20px;
}
.clear {
	clear:both;
}
/**
 * footer
 */
footer {
	margin-top:40px;
}
.top-footer {
	background-color: #222222;
	color: #ffffff;
	text-align: center;
	font-family: "Lato", sans-serif;
	padding: 30px 0;
	font-size: 21px;
	font-weight: 300;
}
.top-footer span{
	font-size:30px;
}
.top-footer .register-btn {
	transition: 0.2s all;
	font-size:22px;
}
.center-footer {
	background-color: #161616;
  	color: #666666;
}
.center-footer {
	padding:40px 0px;
	color: #ffffff;
}
.center-footer span {
	font-size:18px;
}
ul li{
	list-style: none;
}
.center-footer ul {
	padding:0px;
	margin-top:20px;
}
.center-footer ul li a {
	color:#E0E0E0;
	transition: 0.5s all;
}
.center-footer ul li a:hover {
	color:#ffffff;
	cursor: pointer;
}


ul.atentions li {
	float:left;
	width:20%;
}
ul.atentions li a{
	height:50px;
	width:50px;
	background-color: #fff;
  	border-radius: 50%;
  	padding: 10px;
	color:#000000;
}
ul.atentions li a:hover {
	background-color: rgba(211, 211, 211, 0.56);
	color:#fff;
}
.bottom-footer {
	padding:20px;
	background-color: #0a0a0a;
	color:#666666;
}
.login-bg {
	background:url('../images/bg1.jpg');
	background-size:100% 100%;
	width:100%;
	height:100%;
	text-align:center;
}

.login-bg .row {
	margin:0px;
}
.login-bg .container {
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	text-align:center;
	padding:100px 0px;
	
}
.login-form-container {
	max-width:330px;
	padding:30px 25px;
	margin:0px auto;
	background:rgba(255,255,255,0.25);
	border-radius:10px;
}

.article {
	margin:5px 0px 0px 0px;
}
.article .title {
	  font-family: Lato;
  text-transform: none;
  line-height: 1.4em;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
#loginForm input {
	border-style:none none solid none;
	background:none;
	border-radius:0px;
	border-bottom:1px solid #DBDBDB;
	color:#fff;
	font-size:18px;
	
}

#loginForm span {
	color:#fff;
}

.register-container {
	height:400px;
	width:400px;
	text-align:center;
	padding:20px 50px;
}

/*------ article ------*/
.none {
	text-align:center;
	font-size:14px;
	color:#969696;
}
.article .info {
	font-size:15px;
	color:#969696;
	margin:5px 0px;
}
.article .title span {
	font-size:16px;
	margin-right:10px;
}
.username {
	color:#7B5C0C;
	margin-left:5px;
	font-style: italic;
}
.article .created_at {
	float:right;
}
  .numbers {
	margin:10px 0px;
	text-align:right;
}
 .numbers span{
	font-size:14px;
	color:#777;
	margin-left:15px;
}
.numbers span .count {
	margin-left:2px;
}
.article .digest {
	color:#333;
	font-size:16px;
	margin:10px 0px;
	text-indent:2em;
}
ul.types {
	padding:0px;
}
.types li{
	float:left;
	width:45px;
}
.types li a {
	font-size:16px;
	color:#6B6B6B;
	transition:0.5s;
}
.types li a:hover {
	color:#428bca;
}
.types li a.active {
	color:#428bca;
}


.articleInfo .title {
	text-align:center;
	font-size:25px;
	color:#333;
	margin:15px 0px;
}
.articleInfo .info {
	font-size:15px;
	color:#969696;
	text-align:center;
}
.articleInfo .info span {
	margin-left:5px;
	margin-right:5px;
}
.articleInfo .info .date {
	color:#336EC8;
}
.articleInfo .digest {
	color:#333;
	text-indent:2em;
	font-size:16px;
	margin-top:15px;
	margin-bottom:15px;
}
.articleInfo .digest span {
	font-weight:bold;
	font-size:14px;
}

/*------ index ------*/
.banner {
	width:100%;
	height:300px;
	/*background:#4FFFB6;*/
	/*background: -webkit-gradient(linear,0 0,100% 100%, from(#0980CD),to(#0FFF64));
	background: -moz-linear-gradient(left,#0980CD,#0FFF64); */
	background-image:linear-gradient(120deg,#0980CD,#0FFF64);
	text-align:center;
	padding:20px;
	margin-top:-20px;
}
.banner .title {
	font-size:40px;
	padding:30px;
	color:#fff;
}
.banner .content {
	color:#3C3C3C;
	font-size:20px;
	
}
.article_rows {
	margin-top:10px;
}
.article_rows .title {
	margin-top:10px;
	margin-bottom:15px;
}
.article_rows .content {
	font-size:17px;
}