@CHARSET "UTF-8";

html,body {
	font-family: microsoft yahei, Tahoma, Helvetica, arial, sans-serif;
	background:#ddd;
}
hr {
	border-top:1px solid #D5D5D5;
	margin-bottom:10px;
}
.main {
	padding-top:20px;
}
.navbar {
	border-radius: 0px;
	margin-bottom:0px;
}
.navbar-default a,.navbar-nav>li>a {
	font-weight:100;
}
.navbar-inverse {
  background-color: #1787CB;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #19D2D2;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding:0px 10px;
}
.indent {
	text-indent:2em;
}
.box {
	background:#fff;
	padding:10px 20px;
	border-radius:5px;
	margin-bottom:20px;
}
.clear {
	clear:both;
}
.breadcrumb {
	background:#fff;
	margin-bottom:10px;
}
.breadcrumb>.active{
	font-size:13px;
}
.br {
	margin-top:20px;
}
/**
 * footer
 */
footer {
	margin-top:40px;
}
.top-footer {
	background-color: #222222;
	color: #ffffff;
	text-align: center;
	font-family: "Lato", sans-serif;
	padding: 30px 0;
	font-size: 21px;
	font-weight: 300;
}
.top-footer span{
	font-size:30px;
}
.top-footer .register-btn {
	transition: 0.2s all;
	font-size:22px;
}
.center-footer {
	background-color: #161616;
  	color: #666666;
}
.center-footer {
	padding:40px 0px;
	color: #ffffff;
}
.center-footer span {
	font-size:18px;
}
ul li{
	list-style: none;
}
.center-footer ul {
	padding:0px;
	margin-top:20px;
}
.center-footer ul li a {
	color:#E0E0E0;
	transition: 0.5s all;
}
.center-footer ul li a:hover {
	color:#ffffff;
	cursor: pointer;
}


ul.atentions li {
	float:left;
	width:20%;
}
ul.atentions li a{
	height:50px;
	width:50px;
	background-color: #fff;
  	border-radius: 50%;
  	padding: 10px;
	color:#000000;
}
ul.atentions li a:hover {
	background-color: rgba(211, 211, 211, 0.56);
	color:#fff;
}
.bottom-footer {
	padding:20px;
	background-color: #0a0a0a;
	color:#666666;
}
blockquote {
	margin-bottom:15px;
}
blockquote.blockquote-info {
	border-left: 3px solid #3B82ED;
}
blockquote.blockquote-primary {
	border-left: 3px solid #1ABC9C;
}
blockquote.blockquote-success {
	border-left: 3px solid #2ECC71;
}
blockquote.blockquote-warning {
	border-left: 3px solid #F1C40F;
}
blockquote.blockquote-danger {
	border-left: 3px solid #E74C3C;
}
.login-bg {
	background:url('../images/bg1.jpg');
	background-size:100% 100%;
	width:100%;
	height:100%;
	text-align:center;
}

.login-bg .row {
	margin:0px;
}
.login-bg .container {
	background:rgba(0,0,0,0.25);
	width:100%;
	height:100%;
	text-align:center;
	padding:100px 0px;
	
}
.login-form-container {
	max-width:330px;
	padding:30px 25px;
	margin:0px auto;
	background:rgba(0,0,0,0.35);
	border-radius:10px;
}

.article {
	margin:5px 0px 0px 0px;
}
.article-left {
}
.article-left img {
	width:100%;
}
.article .title {
	  font-family: Lato;
  text-transform: none;
  line-height: 1.4em;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
#loginForm input,#registerForm input {
	border-style:none none solid none;
	background:none;
	border-radius:0px;
	border-bottom:1px solid #DBDBDB;
	color:#fff;
	font-size:18px;
	
}
#loginForm input:focus,#registerForm input:focus {
	border-bottom-color:#1abc9c;
}

#loginForm span,#registerForm span {
	color:#fff;
	transition:0.5s;
}
#loginForm .focus span,#registerForm .focus span{
	color:#1abc9c;
	
}
.register-bg {
	background:url('../images/register_bg.jpg');
	background-size:100% 100%;
	width:100%;
	height:100%;
	text-align:center;
}

.register-bg .container {
	background:rgba(255,255,255,0.25);
	width:100%;
	height:100%;
	text-align:center;
	padding:100px 0px;
}
.register-form-container {
	max-width:330px;
	padding:30px 25px;
	margin:0px auto;
	background:rgba(0,0,0,0.35);
	border-radius:10px;
}

/*------ article ------*/
.none {
	text-align:center;
	font-size:14px;
	color:#969696;
}
.article .info {
	font-size:15px;
	color:#969696;
	margin:5px 0px;
}
.article .title span {
	font-size:16px;
	margin-right:10px;
}
.article .picture a img{
	width:100%;
}
.username {
	color:#7B5C0C;
	margin-left:5px;
	font-style: italic;
}
.article .created_at {
	float:right;
}
.article-picture img {
	width:100%;
}
@media (min-width: 768px) {
	.article-picture img{
		width:590px;
		height:300px;
	}
}
  .numbers {
	margin:10px 0px;
}
 .numbers span{
	font-size:14px;
	color:#777;
	margin-right:10px;
}
.numbers span .count {
	margin-left:2px;
}
.article .digest {
	color:#333;
	font-size:16px;
	margin:10px 0px;
	text-indent:2em;
}
ul.types {
	padding:10px;
	padding-bottom:20px;
}
.types li{
	float:left;
	width:45px;
	margin-left:5px;
}
.types li a {
	font-size:16px;
	color:#6B6B6B;
	transition:0.5s;
}
.types li a:hover {
	color:#428bca;
}
.types li a.active {
	color:#428bca;
}


.articleInfo .title {
	text-align:center;
	font-size:25px;
	color:#333;
	margin:15px 0px;
}
.articleInfo .info {
	font-size:15px;
	color:#969696;
	text-align:center;
}
.articleInfo .info span {
	margin-left:5px;
	margin-right:5px;
}
.articleInfo .info .date {
	color:#336EC8;
}
.articleInfo .digest {
	color:#333;
	text-indent:2em;
	font-size:16px;
	margin-top:15px;
	margin-bottom:15px;
	word-wrap: break-word; 
word-break: normal; 
}
.articleInfo .digest span {
	font-weight:bold;
	font-size:14px;
}
.articleInfo .content img {
	width:100%;
}

/************ .input ************/
input.form-control ,textarea.form-control  {
	border: 1px solid #bdc3c7;
	border-radius: 2px;
}

/*------ index ------*/
.header {
	background-image:url(../images/header.jpg);
	
	width:100%;
	height:240px;
	background-size:100% 100%;
	margin-top:-20px;
	color:#fff;
	font-family:Lato;
	text-align:center;
}
.header .container-bg {
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
}
.header .item {
	padding:30px;
	font-size:18px;
}

.header .item .title {
	line-height: 1em;
  	letter-spacing: 0em;
  	font-weight: 100;
  	font-style: normal;
  	font-size: 25px;
}
.header .item hr {
	border-top:2px solid rgba(255,255,255,0.8);
	width:100px;
}
.header .item .content {
	font-weight: 100;
  	font-style: normal;
	line-height: 1em;
  	letter-spacing: 0em;
	font-size:20px;
	color:#A6A6A6;
	margin-top:25px;
	
}
.header .item .login-btn {
	margin-top:20px;
}
.login-btn a {
	color:#fff;
	border:1px solid #fff;
	padding:10px 40px;
	border-radius:3px;
	font-size:20px;
	transition:1s;
}
@media (min-width: 768px) {
	.header {
		height:500px;
	}
	.header .item .title {
		font-size:40px;
		padding:50px 100px 20px 100px;
	}
	.header .item .content {
		font-size:25px;
		
	}
.login-btn a:hover {
	background:rgba(255,255,255,0.2);
	color:#000;
	
}
.media-body {
	width:100%;
}
}
.banner {
	width:100%;
	height:300px;
	/*background:#4FFFB6;*/
	/*background: -webkit-gradient(linear,0 0,100% 100%, from(#0980CD),to(#0FFF64));
	background: -moz-linear-gradient(left,#0980CD,#0FFF64); */
	background-image:linear-gradient(120deg,#0980CD,#0FFF64);
	text-align:center;
	padding:20px;
	margin-top:-20px;
}
.banner .title {
	font-size:40px;
	padding:30px;
	color:#fff;
}
.banner .content {
	color:#3C3C3C;
	font-size:20px;
	
}
.article_rows {
	margin-top:10px;
	font-size:16px;
}
.article_rows .title {
	margin-top:15px;
	margin-bottom:5px;
	font-size:28px;
	color:#333;
}
.article_rows .notation {
	color: #bfbfbf;
	font-size:14px;
	margin-bottom:20px;
}
.article_rows .article_content {
	color:#515151;	
	margin-top:20px;
}

.comment{
	margin-top:20px;
}
.comment p {
	font-size:15px;
}
.comment-footer span a{
	font-size:15px;
	color:#9B9B9B;
	transition:0.5s;
	margin-right:10px;
}
.comment-footer span a:hover {
	color: #3498DB;
}
.comment-user {
	font-size:15px;
}
.comment-user span {
	margin-right:5px;
}
.comment-user .floor {
	
}
/******* 上传按钮 *********/
#picker {
	float:left;
	
	margin-right:20px;
}
#picker .webuploader-pick {
	padding: 8px 15px;
}


.page-header{
	margin-top:20px;
	color: #3C3C3C;
}
p {
	font-size:16px;
}
.back-to-top {
	display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 64px;
    height: 64px;
	background:#333;
    opacity: 0.4;
}

#wrapper {
	background:#fff;
	position:relative;
	margin-top:-20px;
}

a {
	text-decoration:none;
	-webkit-transition:color 0.2s linear;
    -moz-transition:color 0.2s linear;
    -o-transition:color 0.2s linear;
    transition:color 0.2s linear;
}

a:focus , a:link, a:active {
	outline:none;
}

a:hover {
	color:#444;
}


.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	max-height:450px !important;
	overflow:hidden;
}

.fullwidthbanner-container .fullwidthabnner	{
	width:100% !important;
	max-height:450px !important;
	position:relative;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	  .banner, .bannercontainer			{	width:768px; height:309px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	   .banner, .bannercontainer		{	width:480px; height:193px;	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
		.banner, .bannercontainer		{	width:320px;height:129px;	}
}

@media only screen and (max-width: 319px) {
		.banner, .bannercontainer		{	width:240px;height:97px;	}
}

.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected {	
	background:#e1472f !important; 
}
.tp-leftarrow:hover,
.tp-rightarrow:hover {	
	background-color:#e1472f !important;
 }
/** BULLETS **/
.tp-bullets {
    z-index: 1001;
    position: absolute;
    bottom: 0px;
}

.tp-bullets.simplebullets.round .bullet {
    cursor: pointer;
    position: relative;
    background: #fff;
    width: 188px;
    height: 3px;
    float: left;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
}


.tp-leftarrow.large {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: #393939 url(../images/slider-left-arrow.png) no-Repeat;
	width: 42px;
	height: 43px;
	margin-left: 0px;
	margin-top: -21px;
	-webkit-transition: background 0.1s linear;
	-moz-transition: color, background 0.1s linear;
	-o-transition: color, background 0.1s linear;
	transition: color, background 0.1s linear;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);/*增加阴影*/
	/*
	**打开注释，按钮变成圆形的
	border-radius: 20px;  所有角都使用半径为5px的圆角，此属性为CSS3标准属性 
	-moz-border-radius: 20px;  Mozilla浏览器的私有属性 
	-webkit-border-radius: 20px;  Webkit浏览器的私有属性 
	border-radius: 20px 20px 20px 20px; 四个半径值分别是左上角、右上角、右下角和左下角 
	*/
}

.tp-rightarrow.large {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: #393939 url(../images/slider-right-arrow.png) no-Repeat 0 0;
    width: 42px;
    height: 43px;
    margin-left: 0;
    margin-top: -21px;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);/*增加阴影*/
	/*
	**打开注释，按钮变成圆形的
	border-radius: 20px;  所有角都使用半径为5px的圆角，此属性为CSS3标准属性 
	-moz-border-radius: 20px;  Mozilla浏览器的私有属性 
	-webkit-border-radius: 20px;  Webkit浏览器的私有属性 
	border-radius: 20px 20px 20px 20px; 四个半径值分别是左上角、右上角、右下角和左下角 
	*/
}



.tp-bullets.tp-thumbs {
    z-index: 100;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width: 500px;
    height: 50px;
    margin-top: -50px;
}

.fullwidthbanner-container .tp-thumbs {
    padding: 3px;
}

.tp-bullets.tp-thumbs .tp-mask {
    width: 500px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    width: 5000px;
    position: absolute;
}

.tp-bullets.tp-thumbs .bullet {
    width: 100px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    background: none;
    margin: 0;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/*filter: alpha(opacity=50);	*/
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}

.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.tp-thumbs img {
    width: 100%;
}

.tp-bannertimer {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 200;
    z-index: 5000;
}

.tp-bannertimer.tp-bottom {
    bottom: 0px !important;
    height: 5px;
}


@media only screen and (min-width: 768px) and (max-width: 959px) {;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .responsive .tp-bullets.tp-thumbs {
        width: 300px !important;
        height: 30px !important;
    }

    .responsive .tp-bullets.tp-thumbs .tp-mask {
        width: 300px !important;
        height: 30px !important;
    }

    .responsive .tp-bullets.tp-thumbs .bullet {
        width: 60px !important;
        height: 30px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .responsive .tp-bullets {
        display: none;
    }

    .responsive .tparrows {
        display: none;
    }
}


.tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.tp-simpleresponsive a {
    text-decoration: none;
}

.tp-simpleresponsive ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tp-simpleresponsive >ul >li {
    list-stye: none;
    position: absolute;
    visibility: hidden;
}

.caption.slidelink a div,
.tp-caption.slidelink a div {
    width: 10000px;
    height: 10000px;
}

.tp-loader {
    background: url(../images/loader.gif) no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px -22px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.right {
	float:right;
}
.left {
	float:left;
}
.go-top {
	width: 50px;
	height: 50px;
	background: rgb(229, 64, 64);
	color: white;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	-moz-box-shadow: 0px 0px 10px #909090; /*firefox*/
	-webkit-box-shadow: 0px 0px 10px #909090; /*safari或chrome*/
	box-shadow: 0px 0px 10px #909090; /*opera或ie9*/
	display: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease; /* Firefox 4 */
	-webkit-transition: all 0.5s ease; /* Safari 和 Chrome */
	-o-transition: all 0.5s ease; /* Opera */
}
.go-top:hover {
	cursor: pointer;
	-moz-box-shadow: 0px 0px 20px #343434; /*firefox*/
	-webkit-box-shadow: 0px 0px 20px #343434; /*safari或chrome*/
	box-shadow: 0px 0px 20px #343434; /*opera或ie9*/
}
.title-footer {
	font-size: 12px;
    color: #969696;
	float:right;
}
.title-footer span {
	margin-right:10px;
}